.deps/
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libauthinfo.la
/libauthinfo_impl.la
/libtool
/ltmain.sh
/missing
/authinfo
/stamp-h1
/compile
/test-driver
/*.log
/*.trs
/authinfo_parsing_tests
/GPATH
/GRTAGS
/GTAGS
*.gcno
*.gcda
*.gcov
lcov.info
/lcov/
*.o
*.lo
/docs/doxygen
/docs/Doxyfile
/docs/Makefile
/docs/Makefile.in
/py-compile
/python/__init__.py
/src/.dirstamp
