.deps/
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libnetrc.la
/libnetrc_impl.la
/libtool
/ltmain.sh
/missing
/netrc
/netrc.lo
/stamp-h1
